@font-face {
    font-family: 'amz';
    src: url(Amazone\ Demo.ttf);
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nexa';
    font-size: 14px;
}

body {
    background-color: black !important;
}

/*--Page1--*/
.blur-background {
    backdrop-filter: blur(3px);
}

.navbar-nav .nav-link {
    margin-right: 10px;
    ;
}

.header {
    background-image: linear-gradient(rgba(2, 6, 25, 0.2), rgba(2, 6, 25, 0.2)), url(about.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.nav-link:hover {
    color: white !important;
}

.nav-link {
    transition: all 0.5s !important;
    color: rgba(211, 211, 211, 0.819) !important;
}

.ddown {
    backdrop-filter: blur(10px);
}

.ddown li a {
    font-size: 13px !important;
}

.ddown-mn li a {
    font-size: 13px !important;
}

.sn {
    font-family: sans-serif !important;
    transition: all 0.7s !important;
    border: 0.5px rgba(128, 128, 128, 0.682) solid !important;
    padding: 10px 15px !important;
    letter-spacing: 0.7px;
}

.sn1 a {
    font-size: 13px !important;
    color: white;
}

.nav-item .nav-link {
    font-size: 12.5px;
    letter-spacing: 0.5px;
    position: relative;
    top: 10px;
}

.sn:hover {
    color: white;
    background-color: white !important;
    box-shadow: 0 0 10px white, 0 0 15px white;

}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -50%);
}

.main h1 {
    font-family: 'amz';
    font-size: 70px !important;
    letter-spacing: 8px;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white, 0 0 120px white, 0 0 150px white;

}

@keyframes h1-custom {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*animation h1*/
.main h1 {
    opacity: 0;
    animation: h1-custom 2s ease forwards;
}


.main p {
    text-align: center;
    color: rgba(211, 211, 211, 0.79);
}

/*animation p*/
.main p {
    opacity: 0;
    animation: h1-custom 2s ease forwards;

}

.fp {
    position: absolute;
    top: 90%;
    font-family: sans-serif;
}

.fq {
    color: rgba(211, 211, 211, 0.79);
    transition: 0.6s;
}

.fp span {
    color: rgba(211, 211, 211, 0.79);
}

.fq:hover {
    color: aqua !important;
    transition: 0.6s;
}

.wasq,
.txt-scroll {
    position: absolute;
    top: 90%;
    right: 50px;
}

.txt-scroll {
    color: rgba(211, 211, 211, 0.79);
}

.was {
    border: 1px rgba(128, 128, 128, 0.682) solid !important;
    padding: 12px 12px !important;
    transition: ease .6s;
}

.was:hover {
    box-shadow: 0 0 10px white, 0 0 15px white;
}

.wasq2,
.txt-scroll2 {
    position: fixed;
    top: 90%;
    right: 50px;
    z-index: 111;
}

.txt-scroll2 {
    color: rgba(211, 211, 211, 0.79);
}

.was2 {
    text-decoration: none;
    border: rgba(128, 128, 128, 0.682) solid !important;
    padding: 12px 12px !important;
    letter-spacing: 0.7px;
    transition: 0.6s;
}

.was2:hover {
    box-shadow: 0 0 10px white, 0 0 15px white;
    transition: 0.6s;
}

.all-icon {
    color: rgb(216, 216, 216);
}

/*--Page2--*/
.pg-3 {
    height: fit-content;
}

.pg-3 .txt h3 {
    text-align: left;
    font-size: 30px;
    color: white;
}

.pg-3 .txt p1 {
    text-align: left;
    font-size: 14px;
    color: rgb(204, 204, 204);
}

.pg-3 img {
    scale: 1;
    transition: 0.5s;
    cursor: pointer;
    transition: transform 20s ease;
}

.pg-3 .ing img:hover {
    scale: 1.03;
    transition: 0.5s;
    transform: rotate(360deg);
    transition: transform 20s ease;
}

.d-grid .bel {
    border: 0.5px solid white;
    font-weight: 800;
    padding:20px 0px !important;
    background-color: rgba(255, 255, 255, 0.907);
}

.d-grid .bel:hover {
    background-color: black;
    border: 0.5px solid white;
    transition: 0.7s;
    color: white;
}

.all-b {
    color: white;
    display: flex;
    justify-content: center;
}





/*---Page Member ---*/
.team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    
    border-radius: 30px;
    cursor: pointer;
  }
  .team h1{
    font-size: 50px;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white, 0 0 120px white, 0 0 150px white;
    margin-bottom: 5%;
  }
  .member .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(20px) !important;
    background-color: (255, 255, 255, 0.2);
    height: 100%;
    opacity: 0;
    transition: all 0.6s ease;
   
  }

  
  .team .member h4 {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 20px;
  }
  
  .team .member p {
    font-size: 14px;
    color: rgb(228, 228, 228);
    margin-left: 20px;
  }
  
  .team .member .social a {
    color: white;
    transition: 0.5s;
    margin-left: 10px;
  }
  .team .member:hover .overlay{
    opacity: 1;
  }
  .team .member .social a:hover {
    color:aqua;
  }

  .team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
/*--What People Say? --*/
.pg-10 {
    height: 50vh;
}

.bbox {
    height: 50vh;
    width: 100% !important;
    border-radius: 30px;
    border: 0.5px solid grey;
    margin-top: 10% !important;
    position: relative;
    top: 10px;
    transition: 0.6s ease-in-out;
}

.bbox:hover {
    transition: 0.6s;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.people {
    margin-top: 5% !important;
    margin-left: 3% !important;
}

.people h2 {
    font-size: 30px;
}

.pg-10 .carousel-indicators button {
    width: 7px;
    height: 7px;
    border-radius: 40%;
    margin-right: 0.1px;
}

.carousel-inner p {
    text-align: left !important;
}

q {
    color: lightgray;
}







/*--footer--*/
footer {
    height: fit-content;
}

.txt-fot p {
    color: rgb(192, 192, 192);
    font-size: 13px;
}

footer .row {
    padding: 0;
    margin: 0;
}

.sub-box {
    border: 0.1px solid black !important;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px) !important;
    display: flex;
}

.sub-btn {
    color: rgb(111, 111, 111);
    height: 0px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.se {
    color: rgb(111, 111, 111);
    font-size: 18px;
}

.se:hover {
    color: aqua !important;
    transition: 0.6s;
}

.sub-input::placeholder {
    color: rgb(111, 111, 111) !important;
}

.sub-input.form-control {
    border: none !important;
    box-shadow: none !important;
}

.media {
    list-style: none;
    display: flex;
    align-items: left;
    justify-content: left;
}

.media li {
    margin: 0 12px;
    cursor: pointer;
}

.media a {
    text-decoration: none;
    color: white;

}

.media a i {
    font-size: 27px;
    transition: color 0.4s ease-in-out;
}

.media a:hover i {
    color: aqua;
    opacity: 90%;
    transition: 0.6s;
}

.about,
.services,
.project,
.contact {
    margin-top: 25%;
    margin-left: 20px;
    position: relative;
    left: 30%;
}

.about h5,
.services h5,
.project h5,
.contact h5 {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.about ul,
.services ul,
.project ul,
.contact ul {
    list-style: none;
    padding: 0;
}

.about a,
.services a,
.project a,
.contact a {
    text-decoration: none;
    color: rgb(105, 105, 105);
    font-size: 13px;
    transition: 0.3s ease-in-out;
}

.about a:hover,
.services a:hover,
.project a:hover,
.contact a:hover {
    color: lightgrey;
    transition: 0.3s ease-in-out;
}

.copyright {
    color: lightgray;
    font-size: 13px;
}



@media (max-width: 1000px) {

    html,
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .pg-2 {
        height: fit-content;
    }

    .pg-2 .row {
        padding-left: 10px;
        padding-right: 10px;
    }

    .trp {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -36%);
    }
}

@media (max-width: 1398px) {

    html,
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .header {
        overflow-y: hidden;
    }

    .pg-4 .txt h3 {
        font-size: 25px;
    }

    .pg-4 .txt h4 {
        font-size: 14px;
    }

    .pg-4 .txt p1 {
        font-size: 12px;
    }

    .pg-5 .txt h3 {
        font-size: 25px;
    }

    .pg-5 .txt p1 {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {

    .box1h h4,
    .box2h h4,
    .box3h h4 {
        font-size: 15px;
    }

    .box1h li,
    .box2h li,
    .box3h li {
        font-size: 11px;
    }

    .box1h .as a,
    .box2h .as a,
    .box3h .as a {
        font-size: 11px;
    }
}

@media (max-width: 767px) {

    html,
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .faq {
        width: 70%;
    }
    
}

@media (max-width: 991px) {

    html,
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .sidebar {
        background-color: rgba(255, 255, 255, 0.01) !important;
        backdrop-filter: blur(20px);

    }

    .blur-background {
        backdrop-filter: none;
    }

    .sn {
        margin: auto;
    }

    .row {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -10px !important;
    }

    .pg-3 .row {
        position: relative;
        top: 300px;
    }

    .abo,
    .ser,
    .mem,
    .con {
        position: relative;
        right: 30px;
    }
    .container .card .face1,
    .container .card .face2 {
        width: 100%;
        max-width: none;
    }
    .pg-6{
        height: fit-content;
    }
}

@media (max-width:575px) {

    html,
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden !important;
    }

    .main h1 {
        font-size: 45px !important;
    }

    .main p {
        font-size: 12px !important;
        width: 90%;
    }

    .ab {
        position: absolute;
        top: 65%;
    }
    .trp {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -27%);
    }
    .pg-10, .bbox {
        height: fit-content !important;
    }
}